@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger span {
    display: block;
    width: 15px;
    height: 3px;
    margin: 2px auto;
    transition: all 0.3s ease-in-out;
    background-color: #333;
}
